/*初始*/
* {padding: 0;margin: 0;}
body {background: #171817 url('../images/bg.jpg') no-repeat center top;font-size: 14px;font-family: '微软雅黑';color: #000;}
ol,ul {list-style-type: none;}
a {text-decoration: none;color: #000;display: block;}
a:hover {color: #f00;}

/*全局*/
.main {background: rgba(0, 0, 0, 0.5);padding: 0 20px;margin: 0 auto;width: 1300px;overflow: hidden;}
.main_content {background: #fff;}

/*顶部*/
.top {height: 40px;background: #222;line-height: 40px;padding: 0 15px;border-bottom: 1px solid #000;}
.top .l {float: left;color: #ccc;}
.top .r {float: right;color: #ccc;}

/*头部*/
.header {background: #666;}
.header .logo {padding:5px 5px 0 5px;}

/*导航*/
.menu {height: 70px;background: #222;border-top: 1px solid #000;border-bottom: 1px solid #000;}
.menu ul {float: left;}
.menu ul li {float: left;margin-left: 15px;}
.menu ul li a {padding: 0 25px;position: relative;top: 10px;font-size: 16px;font-weight: bold;color: #999;line-height: 60px;}
.menu ul li a:hover,.menu ul .on a {background: #fff;height: 61px;border-radius: 4px 4px 0 0;color: #222;}

/*搜索*/
.so {float: right;margin-right: 10px;margin-top: 15px;}
.so input {border: 1px solid #000;outline: none;padding: 10px;float: left;border-right: 0;}
.so button {float: left;height: 37px;background: #f00;border: 1px solid #f00;padding: 0 20px;color: #fff;cursor: pointer;overflow: none;}
.so button:hover {opacity: 0.8;}
.so button:focus {outline:none;}

/*广告*/
.gg {}
.gg ul {margin: 5px 0 0 5px;font-size: 0;}
.gg ul li {margin-bottom: 1px;position: relative;}
.gg ul li .t {position:absolute;top: 0;right: 5px;padding:3px 7px;background: rgba(0, 0, 0, 0.5);color: #fff;font-size: 12px;}

/*筛选*/
.type_content {background: #f9f9f9;margin: 5px;padding:20px;}
.type_content .type {overflow: hidden;margin-bottom: 10px;padding-bottom: 10px;border-bottom: 1px solid #eee;}
.type_content .type b {float: left;padding: 7px 0;color: #666;}
.type_content .type a {float: left;display: inline-block;padding: 7px 15px;margin-right: 10px;background: #fff;color: #666;}
.type_content .type a:hover {background: #ddd;color: #000;}
.type_content .type .on {background: #f00;color: #fff;border-radius: 1px;}
.type_content .p {margin-top: 20px;color: #f00;}

/*表格*/
.tab-bor {background: #eee;width: 1290px;margin: 5px 0 0 5px;overflow: hidden;}
.table {width: 1280px;margin: 5px;border-collapse:collapse;}
.table tr th {background: #f8f8f8;padding: 25px 0;border: 1px solid #ddd;color: #666;}
.table tr td {background: #fff;text-align: center;padding:10px 0;border: 1px solid #ddd;color: #333;}
.table tr:hover td {background: #f9f9f9;}
.table tr td a {display: inline-block;padding:5px 10px;}
.table tr td .pt {border: 1px dashed #ba2929;color: #ba2929;}
.table tr td .pt:hover {background: #ba2929;color: #fff;}
.table tr td .kf {border: 1px dashed #323edb;color: #323edb;}
.table tr td .kf:hover {background: #323edb;color: #fff;}
.table tr td i {font-style: inherit;color: #06f;padding:5px 10px;border: 1px dashed #06f;}
.table tr td .zd {border: 1px dashed #f00;color: #f00;}
.none {display: none;}

/*底部*/
.footer {background: #eee;color: #666;text-align: center;padding:30px;border-top: 1px solid #ccc;margin-top: 10px;line-height: 28px;}